body {
  background-image: https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn.nimbusthemes.com%2F2017%2F09%2F09233338%2FFree-Nature-Backgrounds-Sunset-by-Pixabay.jpg&imgrefurl=https%3A%2F%2Fwww.nimbusthemes.com%2F15-of-the-very-best-free-nature-backgrounds-for-use-on-your-website%2F&tbnid=adMu49dYGjKLWM&vet=12ahUKEwi3qvuCl6n9AhVYnNgFHdrdApYQMygCegUIARDNAQ..i&docid=yVV6RjQGbJnqjM&w=1280&h=738&q=image%20nature%20background%20web&ved=2ahUKEwi3qvuCl6n9AhVYnNgFHdrdApYQMygCegUIARDNAQ("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
